html,
body {
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #1f1f1f;
    font-size: 16px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Lexend Deca', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Muli', sans-serif;*/
}

body {
    position: relative;
}

#typeletters {
    font-size: 2.5rem!important
}

#element {
    font-size: 0.8rem!important;
}

.bodyWrap {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #1f1f1f;
}

.wrapper {
    background-color: #0e0e0e;

}

.wrapper .container {
    top: 0;
    left: 0;
    /* background-color: #1f1f1f; */
    text-align: center;
    /*position: relative;*/
    height: 100vh;
    width: 100%;
}

.texts {
    position: relative;
    /* margin-top: 30%; */
    top: 40%;
    left: 50%;

    transform: translateX(-50%);
}

/* ///////////////////////////// */

.dummy {
    position: absolute;
    bottom: 5em;
    /* top: 100%; */
    left: 50%;
    width: 200px;
    height: 122px;
    margin: -61px 0 0 -100px;
    text-align: center;
    font: bold 16px/1.5 Calibri, serif;
}




.menu-container {
    /* position: sticky; */
    position: sticky;
    top: 20%;
    z-index: 10;
}

#menu-block {
    /* background-color: green;
    position: sticky;
    top:20%;
    z-index:10; */
    position: absolute;
    left: 3rem;
    background-color: #0c0c0c;
    /* background-color: green; */
    text-align: center;
}

#menu-block ul a {
    color: white;
}

.nav-pills .nav-link {
    border-radius: 0rem;
    /*background-color: #2189fa;*/
    /*border-color: #2189fa;*/
}

.nav-pills .nav-link.active {
    /*border-radius: 0rem;*/
    /*background-color: #2189fa;*/
    border-color: #2189fa;
}

.navbar {
    padding: 0;
}

.nav-link {
    /*display: block;*/
    padding: 1rem;
}

.bar:after {
    content: '';
    display: block;
    width: 250px;
    ;
    height: 5px;
    /*margin: 1rem 8.5rem;*/
    background-color: #2189fa;

}

.bar {
    padding-top: 5rem;
    margin: 0rem 13rem;
}

/*.about-content {
    */

/*    padding-left: 6rem;*/

/*    padding-right: 3rem;*/

/*}*/

.img-fluid {
    display: block;
    max-height: 350px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*align-self:center;*/
}

.activeMenuItem {
    background-color: blue;
    color: white;
}

div#image-cont {
    align-self: center;
}

.menu {
    /*padding-left: 6rem;*/
}

#profile {
    font-weight: 900;
    opacity: .3;
    /* color: #484b4d; */
    letter-spacing: 5px;
}

#profile-texts {
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 15px;
    padding-bottom: 3rem;
}

#education,
#career,
#contact-tex {
    font-size: 2.2rem;
    letter-spacing: 5px;
    font-weight: 600;
    opacity: 0.8;
}

#profile,
#experience,
#abilities,
#projects,
#contact {
    font-size: 3.5rem;
    font-weight: 900;
    /* color: #78797a; */
    letter-spacing: 5px;
    opacity: 0.23;
}

.experience-content h4 {
    font-weight: 400;
}

.grad-date {
    font-weight: 300;
    opacity: 0.6;
    font-size: 0.9rem;
}

.edu-title {
    letter-spacing: 1.65px;
    font-size: 18px;
}

.edu-desc {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.65px;
}

.exp-projects h5 {
    font-weight: 300
}


.scroll1 {
    position: relative;
}

.scroll1 ul.nav-pills {
    top: 20px;
    position: fixed;
}

.scroll1 div.col-8 div {
    height: 500px;
}


#profile-texts .btn1 {
    background: none;
    border: solid 2px #ffffff1c;
    padding: 10px 15px;
    color: #fff;
    font-size: .8rem;
    letter-spacing: .1rem;
    text-decoration: none;
    margin: 50px 0 0;
    display: inline-block;
    -webkit-transition: ease all .4s;
    -o-transition: ease all .4s;
    transition: ease all .4s;
}

#profile-texts .btn1:hover {
    background-color: #2189fa;
    border-color: #2189fa;
}


/*Carousel*/

/*.carousel-control-prev:after {*/

/*    content: '';*/

/*    left: 10px;*/

/*    display: block;*/

/*    width: 20px;*/

/*    height: 20px;*/

/*    color: white;*/

/*    background-color: white;*/

/*    opacity: 1;*/

/*}*/

.project-content .col-md-5 .projDetails {
    overflow-y: scroll;
    height: 390px;
}

.project-content .col-md-5 .projDetails::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.project-content .col-md-5 h4 {
    font-weight: 400;
    font-size: 1.4em;
}

.project-content .col-md-5 h6 {
    font-weight: 400;
    font-size: 1.1em;
}

.project-content .col-md-7 .img-fluid {
    min-height: 100% !important;
    /*min-height: 100% !important;*/
    /*min-width: 100% !important;*/
    /*margin: 0;*/
}

hr {
    border: 0;
    height: 1px;
    opacity: 0.5;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


/***********Contact**********/

#contact-page {
    background: #090000;
}

.contact-content h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: grey;
    padding: 0.3rem 0rem;
    /*opacity: 0.6;*/
}

#contact-text {
    font-size: 1.5rem;
}

.contact-content .container {
    /*text-align: center;*/
    font-size: 1.2rem;
    font-weight: 500;
}

.contact-content .email {
    display: grid!important;
}

.contact-content p,
.contact-content a {
    color: white;
}

/***********Contact End**********/

/*********Footer************/

.footer-container {
    /*display: flex;*/
}

.footer-container .social {
    /*width: 50px;*/
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 2rem;
}

.footer-container .social:hover {
    background-color: white;
    color: black;
}

.social a {
    width: 100%;
    height: 100%;
}

.social .fas,
.social .fab {
    font-size: 2rem;
    color: #757575;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer p {

    font-size: 0.8rem;
    padding: 1.2rem;
    margin: 0;
}

#footer {
    text-align: center;
}

/***************Footer End****************/

.segments {
    padding-right: 6rem!important;
    padding-left: 10rem!important;
}


/*******************Abilities*************/

.abilities-row li {
    list-style: none;
    height: 40px;
}

.abilities-row .progress {
    /*align-self: center;*/
    /*max-width: 100px;*/
}

.abilities-row h5 {
    padding: 1.5rem 0rem;
    /*color: blue;*/
}

/*******************Abilities End*************/

/*******************Project**********************/

.yelpcamp {
    min-height: 354px!important;
}

.yelpcamp-desc {
    height: 291px!important;
}

/*******************Project**********************/
